/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #155C8E;
  text-align: center;
  padding: 10px 0px;

  h2 {
    color: white;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 20px;
    padding: 10px 0 0 0;
  }

  select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial,sans-serif;
    font-size: 1rem;
    height: 50px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 200px;
  }
}
