@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

html {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #3397db;
	text-decoration: none;
}

a img {
	border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

#footer {
  background-color: #252831;
  color: #fff;
  font-size: .5rem;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
}

/* a container class to hold the elements centered after 1200px */
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

/* ====================== Navigation ====================== */
nav {
  padding: 1rem;
  max-width: 100%;
  min-height: 80px;
  background-color: #252831;
  text-align:center;
  color: #fff;
}

nav h1 {
  margin: auto;
  padding: .5rem 0;
}

.main-nav h1 a {
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: .5rem;
  text-transform: uppercase;
}

.breadcrumb {
  background: #eee;
  height: 51px;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #155C8E;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map-container {
  max-width: 100%;
  display: none;
}

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  display: inherit;
}
